.classNumberInput {
  width: 100px;
}

.ageInput {
  width: 32px;
}

.classDisplay {
  margin: 20px;
  font-size: 12px;
}

.className {
  left: 0px;
}
.participants {
  right: 0px;
  margin-left: 10px;
}

.startTime {
  right: 0px;
  margin-left: 10px;
}

.endTime {
  margin: 10px;
}
.TotalTime {
  margin: 10px;
}

.endTime {
  margin: 10px;
}

.TotalTime {
  margin: 10px;
}
