.labelAndInputDiv-flex {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem 0.2rem 1rem;
}

.festivalInputs-flex {
  display: flex;
  flex-direction: column;
}

.festivalLabel {
  margin: 0 auto 0.4rem 0;
}

.labelSpace {
  margin-top: 1rem;
}

.festivalTableButtonsDiv {
  margin-left: 1rem;
}

.festivalButtons {
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--BG-color);
  width: auto;
  height: 2.4rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

#festivalDatesTable {
  font-family: var(--font-family);
  margin-top: 2rem;
  margin-left: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 0.4rem;
}

#festivalDatesTable th,
#festivalDatesTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
}

#festivalDatesTable tr {
  border: 1px solid black;
}

#festivalDatesTable tr:nth-child(even) {
  background-color: transparent;
}

#festivalDatesTable tr:nth-child(odd) {
  background-color: #fafafa;
}

#festivalDatesTable input,
#festivalDatesTable select {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}

.venueLabels {
  font-size: var(--font-small);
}

.venueLabels > * {
  margin-left: 1rem; /* Apply margin-left to all direct children of .venueLabels */
}

.dateInput {
  font-size: var(--font-small);
  margin: 0.1rem 2rem 0.1rem 0.5rem;
  min-width: 7rem;
  cursor: pointer;
}

.timeInput {
  font-size: var(--font-small);
  margin: 0.1rem 2rem 0.1rem 0.5rem;
  min-width: 7rem;
  padding-right: 1rem;
  cursor: pointer;
}
