body {
  background-color: #6f686d;
}

.grid-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh; /* Make the grid container span the full viewport height */
}
