.sidebar-flex {
  display: flex;
  flex-direction: column;
  background-color: var(--Secondary-BG-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1); /* Drop shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow change */
}

/* DESCRIPTION SECTION */

.sideBarHead {
  margin: 1rem auto 0 1rem;
  font-weight: bold;
  font-size: var(--font-med);
  font-family: var(--font-family);
}

.descritpion {
  margin: 1rem 1rem 1rem 2em;
  font-family: var(--font-family);
  font-size: var(--font-small);
  font-weight: bold;
}

.steps {
  margin: 0.5rem auto 0.2rem 2.5rem;
  font-family: var(--font-family);
  font-size: var(--font-small);
}

.sheetDescriptionDiv {
  margin-top: 1rem;
}

/* EXPORT SECTION */

.exportButtonDiv {
  margin: 1rem auto 1rem 2rem;
  font-size: var(--font-reg);
  font-family: var(--font-family);
}

.exportButton {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Drop shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow change */
}

.uploadLabel {
  margin-left: 1rem;
}

.pdfDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15rem;
  margin: 2rem 0 0.5rem 0;
}

.icsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15rem;
}

.calTextDiv {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.calFile {
  margin: 0 auto auto 1rem;
  font-style: italic;
  font-size: var(--font-reg);
}

/* CREATOR SECTION */
.creator-flex {
  margin: auto auto 1rem 1rem;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-reg);
}

.name {
  margin-right: 0.5rem;
}
.linkButton {
  margin: 0.2rem;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
