.topBar-flex {
  background-color: var(--primary-color);
  color: var(--head-color);
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative; /* Ensure the dropdowns are positioned relative to the top bar */
  overflow: visible; /* Allow overflow for the dropdowns */
}
